h1{
    color: brown;
    text-align: center;
    font-family: "Arial" ,sans-serif;
}
*{
    background-image: url(https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-greek-dishes-set-greek-food-background-traditional-different-greek-dishes-set-top-view-178761927.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}
.img1{
    height: 200 px;
    width: 250 px;
    display: grid;
    place-items: center;
}

.recipes{
    place-items: center;
    font-size: 25px;
    display: grid;
    font-style: italic;
}